apiVersion: 1

providers:
  - name: PowerTrack
    orgId: 1
    folder: PowerTrack
    folderUid: powertrack
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: {{ grafana_dashboards_path }}